body {
    /* Cursor styles */
    --cursor-stroke: #00FFFF;
    --cursor-fill: none;
    --cursor-stroke-width: 2px;
}

.cursor {
    display: none;
}

@media (any-pointer: fine) {
    .cursor {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        pointer-events: none;
        opacity: 0;
        z-index: 1000;
    }
    .cursor__inner {
        fill: var(--cursor-fill);
        stroke: var(--cursor-stroke);
        stroke-width: var(--cursor-stroke-width);
    }
}